/* ----------------------------------------------------------
    Student ID: 6288145
    Student Name: Thanwarat Wongthongtham
    Section: 3
 ------------------------------------------------------------ */
/* Starts your CSS here */
* {
  font-family: sans-serif;
}
header,
footer {
  background-color: #2e4053;
  text-align: center;
  color: #f8f9f9;
}
header h1 {
  margin-bottom: 0%;
  padding: 20px;
}
footer p {
  padding: 5px;
}
.navbar {
  background-color: #5d6d7e;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar li {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar a {
  color: #fdfefe;
  text-decoration: none;
}
.navbar li:hover {
  background-color: #85929e;
}
article {
  width: 80%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  height: 300px;
  border-radius: 10px;
}
img:hover {
  opacity: 0.8;
}
figcaption {
  font-style: italic;
}
a.top {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #d7dbdd;
}
a:hover.top {
  background-color: #48c9b0;
}
